@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


$poppins-font: 'Poppins', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;

$white-color: #fff;
$soft-magenta: hsl(300, 69%, 71%);
$violet: hsl(257, 40%, 49%);

$media-desktop: "only screen and (max-width : 1440px)";
$media-laptop: "only screen and (max-width : 1200px)";
$media-tablet: "only screen and (max-width : 1024px)";
$media-mobile: "only screen and (max-width : 768px)";
$media-sm-mobile: "only screen and (max-width : 600px)";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #eee;
    padding: 0 1rem;

    @media #{$media-desktop} {
        padding: 0;
    }

    @media #{$media-tablet} {
        height: 100%;
        padding: 0;
    }

    .container{
        max-width: 1440px;
        margin: 0 auto;
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media #{$media-tablet} {
            height: 100%;
        }

        .component{
            width: inherit;
            height: auto;
            background-image: url(/images/bg-desktop.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: $violet;

            .component__content{
                width: inherit;
                height: auto;
                padding: 2rem 5rem;

                @media #{$media-desktop} {
                    padding: 2rem 3rem;
                }

                @media #{$media-mobile} {
                    padding: 2rem 1rem;
                }

                .logo-wrapper{
                    width: 264px;
                    height: 66px;
                    margin-bottom: 8rem;

                    @media #{$media-tablet} {
                        width: 244px;
                        height: 56px;
                    } 

                    @media #{$media-mobile} {
                        width: 224px;
                        height: 46px;
                    } 

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }


                .flex__container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: $white-color;
                    margin-bottom: 2rem;

                    @media #{$media-tablet} {
                        flex-direction: column;
                    }


                    .flex__item{
                        width: inherit;
                        height: inherit;
                    }

                    .flex__item:nth-child(1){
                        margin: 0 2rem 0 0;

                        @media #{$media-tablet} {
                            margin: 0 0 2rem 0;
                        }
                    }

                    .flex__item:nth-child(2){
                        margin: 0 0 0 2rem;

                        @media #{$media-tablet} {
                            margin: 2rem 0 0 0;
                        }
                    }


                    .mockups__container{
                        width: 700px;
                        height: 500px;

                        @media #{$media-desktop} {
                            width: 600px;
                            height: 400px;
                        }

                        @media #{$media-laptop} {
                            width: 500px;
                            height: 300px;
                        }

                        @media #{$media-mobile} {
                            width: 400px;
                            height: 200px;
                        }

                        @media #{$media-sm-mobile} {
                            width: 200px;
                            height: 180px;
                        }

                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .flex__text{
                        width: inherit;
                        height: auto;
                        font-family: $open-sans-font;

                        .heading-text{
                            width: 100%;
                            height: auto;
                            font-size: 2.5rem;
                            line-height: 1.4;
                            text-transform: capitalize;
                            margin-bottom: 2rem;

                            @media #{$media-laptop} {
                                font-size: 2rem;
                                margin-bottom: 1.75rem;
                            }

                            @media #{$media-sm-mobile} {
                                font-size: 1.5rem;
                            }
                        }

                        .p-text{
                            width: 100%;
                            height: auto;
                            font-size: 1.125rem;
                            margin-bottom: 2rem;

                            @media #{$media-laptop} {
                                font-size: 1rem;
                                margin-bottom: 1.75rem;
                            }
                            
                            @media #{$media-tablet} {
                                width: 70%;
                            }

                            @media #{$media-sm-mobile} {
                                font-size: 0.875rem;
                                width: 90%;
                            }
                        }

                        .btn{
                            width: 140px;
                            height: 40px;
                            border: none;
                            outline: none;
                            border-radius: 25px;
                            color: #92969c;
                            text-transform: capitalize;
                            font-size: 0.875rem;
                        }
                    }
                }

                .socials-icon{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .icon-wrap{
                        margin-left: 1rem;
                        border: 1px solid $white-color;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;

                        i{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}